html {
	background-color: #eee;
}

html.compact {
	background-color: white;
}

.compact body {
	column-count: 2;
	max-width: 100%;
	margin-top: 10px;
	max-height: 99%;
	border: 0px;
	column-gap: 30px;
	column-rule: #eee;
	column-rule-style: solid;
	column-rule-width: 1px;
	padding:20px 10px;
}

.compact #toc {
	position: fixed;
	padding: 0px;
	top: 0;
	left: 0;
	max-width: 330px;
	background-color: #0079C2;
	color: white;
	text-align: left;
	border: 1px solid transparent;
	height: 100%;
	border-radius: 0;
}

.compact .breadcrumb{
	width : 770px;
}

.compact body img{
	max-width: 49%;	
}

body {
	margin-left: 350px;
	max-width: 1000px;
	text-align: justify;
	padding: 20px;
	background-color: #fff;
	margin-top: 55px;
	border: 1px solid #ccc;
	counter-reset: h1 h2 h3 h4;
	border-radius: 3px;
}

img {
	max-width: 900px;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.breadcrumb {
	padding: 8px 15px;
	/* margin-left: -20px; */
	list-style: none;
	background-color: #fafafa;
	border-radius: 3px;
	position: absolute;
	top: 10px;
	width: 1000px;
	left: 350px;
	border: 1px solid #aaa;
}

h4:before {
	content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4)
		".  ";
	counter-increment: h4;
}

h2:before {
	content: counter(h1) "." counter(h2) ".  ";
	counter-increment: h2;
}

h3:before {
	content: counter(h1) "." counter(h2) "." counter(h3) ".  ";
	counter-increment: h3;
}

h1:before {
	content: counter(h1) ". ";
	counter-increment: h1;
}

h1 {
	border-bottom: 1px solid #EEEEEE;
	counter-reset: h2;
}

h2 {
	counter-reset: h3;
}

h2.unnumbered {
	counter-reset: none;
}

h2.unnumbered:before, h3.unnumbered:before {
	content: none;
	counter-increment: none;
}

#toc {
	position: fixed;
	padding: 0px;
	top: 10px;
	bottom : 10px;
	left: 10px;
	max-width: 330px;
	background-color: #0079C2;
	color: white;
	text-align: left;
	border-radius: 3px;
	border: 1px solid transparent;
}

#toc div {
	padding-right: 15px;
	vertical-align: middle;
	line-height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}

#toc div.selected {
	background-color: goldenrod;
}

#toc a {
	color: white;
	text-decoration: none;
	padding-left: 10px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.5;
	margin-bottom: 5px;
	margin-top: 5px;
	white-space: nowrap;
}

#toc div.lv2:hover, #toc div.lv3:hover, #toc div.lv4:hover, #toc div.lv1:hover
	{
	background-color: white;
	color: #0079C2;
}

#toc div:hover a {
	color: #0079C2;
}

#toc ul, #toc ul li ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#toc ul ul {
	margin-left: 20px;
	margin-top: 5px;
	padding: 0px;
}

/* #toc ul li {
	margin-left: 20px;
	margin-top: 5px;
	padding: 0px;
}

#toc ul li {
	list-style: none;
	margin-top: 20px
}
 */
#toc div.lv2 {
	padding-left: 0px;
	font-size: 1.2em;
}

#toc div.lv1 {
	padding-left: 0px;
	font-size: 1.4em;
	border-bottom: 1px solid black;
	background-color: #004b77;
	padding-top: 5px;
	padding-bottom: 5px;
}

#toc div.lv3 {
	padding-left: 15px;
	font-size: 1.1em;
}

#toc div.lv4 {
	padding-left: 30px;
	font-size: 1em;
}

blockquote {
	font-size: 15px;
	background-color: #eee;
	border-color: #0079c2;
}

object {
	display: inline-block;
	border: 1px solid #aaa;
	border-radius: 2px;
	text-align: center;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

pre {
	background-color: #f0f0f0;
}

pre code {
	background-color: #f0f0f0;
}

@media print {
	#toc {
		position: initial;
		padding: 5px 0px;
		width: 100%;
		background-color: #ffffff;
		color: #0079C2;
		text-align: left;
		max-width: 100%;
		height: initial;
	}
	#toc a {
		color: #0079C2;
		text-decoration: none;
		padding-left: 10px;
		display: inline;
		max-width: 100%;
		height: 40px;
	}
	body {
		margin-left: auto;
		margin-right: auto;
		border: none;
	}
	blockquote {
		float: none;
	}
}

@media screen and (max-width: 1024px) {
	html {
		background-color: #fff;
	}
	#toc {
		padding: 5px 0px;
		background-color: #0079C2;
		color: white;
		text-align: left;
		width: 100%;
		max-width: 100%;
		position: relative;
		height: inherit;
	}
	body {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 1700px) {
	blockquote {
		float: none;
		margin-left: 100%;
		height: 0;
		width: 470px;
		text-align: justify;
		font-size: 0.9em;
		border: none;
		padding: 0px;
		padding-left: 35px;
		margin-top: -50px;
		margin-bottom: 60px;
	}
	blockquote p {
		padding: 5px;
		position: relative;
		background: #fff;
		border: 2px solid #0079c2;
	}
	blockquote p:after, blockquote p:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	blockquote p:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #fff;
		border-width: 10px;
		margin-top: -10px;
	}
	blockquote p:before {
		border-color: rgba(0, 121, 194, 0);
		border-right-color: #0079c2;
		border-width: 13px;
		margin-top: -13px;
	}
}