/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc0CsTKlA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html.compact {
	background-color: white;
}

.compact body {
	column-count: 2;
	max-width: 100%;
	margin-top: 10px;
	max-height: 99%;
	border: 0px;
	column-gap: 30px;
	column-rule: #eee;
	column-rule-style: solid;
	column-rule-width: 1px;
	padding: 20px 10px;
}

.compact #toc {
	position: fixed;
	padding: 0px;
	top: 0;
	left: 0;
	max-width: 330px;
	background-color: #0079C2;
	color: white;
	text-align: left;
	border: 1px solid transparent;
	height: 100%;
	border-radius: 0;
}

.compact .breadcrumb {
	width: 770px;
}

.compact body img {
	max-width: 49%;
}

div.content {
	margin-left: 350px;
	max-width: 1000px;
	text-align: justify;
	padding: 20px;
	background-color: #fff;
	margin-top: 195px;
	border: 1px solid #ccc;
	counter-reset: h1 h2 h3 h4;
	border-radius: 3px;
}

body{
	background-color: #eee;
	font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
	font-size: 16px;
}

figcaption {

    margin-bottom: -1px;
    background: #eee;

    border-bottom: 1px solid #aaa;
	border-top : 1px solid #aaa;
}

figure {
	max-width: 900px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    border-radius: 2px;
    text-align: center;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;

}

img {
	max-width: 900px;
	padding : 5px;
}

.breadcrumb {
	padding: 8px 15px;
	/* margin-left: -20px; */
	list-style: none;
	background-color: #fafafa;
	border-radius: 3px;
	position: absolute;
	top: 145px;
	left: 350px;
	border: 1px solid #ccc;
	right: 0px;
	max-width:1000px;
}

@page {
	size: A4 portrait;
	margin: 2cm; 
	@bottom-right { border-top : 1px solid black;
	   content: counter(page) "/" counter(pages);
    }
}

.head .title{
    color: white;
    font-size: 44px;
    width: 100%;
    padding: 5px;
    padding-left: 350px;
    display: table-cell;
    vertical-align: middle;
    height: 135px;
    max-width: 1330px;
    text-align: left;
}

.head {
	display: table;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1000;
	height: 100px;
	left: 0;
	background: #428BCA;
}



/*  @top-right{
     border-bottom:1px solid black;
   }
   @top-center{
     border-bottom:1px solid black;
   }
   
   @top-left{
     border-bottom:1px solid black;
   }*/


.singleTitle h1:before {
	content: "";
}

h3,h4{
	font-weight: 500;
    font-family: 'Roboto';
}

h1:before {
	content: counter(h1) ". ";
	counter-increment: h1;
}

.singleTitle h2:before {
	content: counter(h2) ".  ";
	counter-increment: h2;
}

h2:before {
	content: counter(h1) "." counter(h2) ".  ";
	counter-increment: h2;
}

h3:before {
	content: counter(h1) "." counter(h2) "." counter(h3) ".  ";
	counter-increment: h3;
}

.singleTitle h3:before {
	content: counter(h2) "." counter(h3) ".  ";
	counter-increment: h3;
}

h4:before {
	content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4)
		".  ";
	counter-increment: h4;
}

.singleTitle h4:before {
	content: counter(h2) "." counter(h3) "." counter(h4) ".  ";
	counter-increment: h4;
}

title {
	position: running(header);
}

h1 {
	border-bottom: 1px solid #EEEEEE;
	counter-reset: h2;
}


h2 {
	font-weight : bold;
	counter-reset: h3;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
   	margin-top: 35px;
}

h2.unnumbered {
	counter-reset: none;
}

h2.unnumbered:before, h3.unnumbered:before {
	content: none;
	counter-increment: none;
}

#toc {
	position: fixed;
	padding: 0px;
	top: 145px;
	bottom: 10px;
	left: 0px;
	width: 351px;
	background-color: transparent;
	color: white;
	text-align: left;
	border-radius: 3px;
	border: 1px solid transparent;
}

#toc div {
	padding-right: 15px;
	vertical-align: middle;
	line-height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}

#toc div.selected {
	background-color: transparent;
	font-weight:bold;
}

#toc a {
	text-decoration: none;
	padding-left: 10px;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 1.5;
	margin-bottom: 5px;
	margin-top: 5px;
	white-space: nowrap;
}

#toc div.lv2:hover, #toc div.lv3:hover, #toc div.lv4:hover, #toc div.lv1:hover
	{
	background-color: white;
	color: #428BCA;
}

#toc div:hover a {
	color: #0079C2;
}

#toc ul, #toc ul li ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#toc ul ul {
	margin-left: 20px;
	margin-top: 5px;
	padding: 0px;
}

/* #toc ul li {
	margin-left: 20px;
	margin-top: 5px;
	padding: 0px;
}

#toc ul li {
	list-style: none;
	margin-top: 20px
}
 */
#toc div.lv2 {
	padding-left: 0px;
	font-size: 1.2em;
}

#toc div.lv1 {
	padding-left: 0px;
	font-size: 1.4em;
	border-bottom: 1px solid black;
	background-color: #004b77;
	padding-top: 5px;
	padding-bottom: 5px;
}

#toc div.lv3 {
	padding-left: 15px;
	font-size: 1.1em;
}

#toc div.lv4 {
	padding-left: 30px;
	font-size: 1em;
}

blockquote {
	font-size: 15px;
	background-color: #eee;
	border-color: #0079c2;
}


.imgTitleTop{
	border: 1px solid #aaa;
	border-radius: 3px 3px 0px 0px;
	margin-bottom: -1px;
	background: #eee;
    padding: 5px;
    padding-left: 10px;
}
.imgTitleBottom{
	border: 1px solid #aaa;
	border-radius: 0px 0px 3px 3px;
	margin-top: -1px;
	background: #eee;
    padding: 5px;
    padding-left: 10px;
}
object {
	display: block;
	text-align: center;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

pre {
	background-color: #f0f0f0;
}

pre code {
	background-color: #f0f0f0;
}

@media print {
	#toc {
		position: initial;
		padding: 5px 0px;
		width: 100%;
		background-color: #ffffff;
		color: #0079C2;
		text-align: left;
		max-width: 100%;
		height: initial;
	}
	#toc a {
		color: #0079C2;
		text-decoration: none;
		padding-left: 10px;
		display: inline;
		max-width: 100%;
		height: 40px;
	}
	body {
		margin-left: auto;
		margin-right: auto;
		border: none;
	}
	blockquote {
		float: none;
	}
}

@media screen and (max-width: 1024px) {
	html {
		background-color: #fff;
	}
	#toc {
		padding: 5px 0px;
		background-color: transparent;
		color: white;
		text-align: left;
		width: 100%;
		max-width: 100%;
		position: relative;
		height: inherit;
		top:0;
		left:0;
	}
	.breadcrumb {
		margin-left: auto;
		margin-right: auto;
		left:0;
		right:0;
		position:relative;

	}
	.head .title{
	   position:relative;
	   padding:5px;
	   min-height:70px;
	   height: initial;
	
	}
	div.content {
		margin-left: auto;
		margin-right: auto;
		margin-top:0px
	}
	.head{
	   position: initial;
	}
	img{
	   max-width:95%;
	}
}

@media screen and (min-width: 1700px) {
	blockquote {
		float: none;
		margin-left: 100%;
		height: 0;
		width: 470px;
		text-align: justify;
		font-size: 0.9em;
		border: none;
		padding: 0px;
		padding-left: 35px;
		margin-top: -50px;
		margin-bottom: 60px;
	}
	blockquote p {
		padding: 5px;
		position: relative;
		background: #fff;
		border: 2px solid #0079c2;
	}
	blockquote p:after, blockquote p:before {
		right: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	blockquote p:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #fff;
		border-width: 10px;
		margin-top: -10px;
	}
	blockquote p:before {
		border-color: rgba(0, 121, 194, 0);
		border-right-color: #0079c2;
		border-width: 13px;
		margin-top: -13px;
	}
}